body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: goldenrod;
}
p {
  text-align: center;
}
.croissant-photo {
  max-width: 90%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer {
  text-align: center;
}
.footer-links {
  margin: 20px;
  color: brown;
}
